{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type='text/css' href="{% static 'css/style-nav.css' %}">
		<link rel="stylesheet" type='text/css' href="{% static 'css/style-slide.css'%}">
		<link rel="stylesheet" type='text/css' href="{% static 'css/style.css'%}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

		<title>Create Page</title>
	</head>
	<body>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	    <section class="top-nav">
		    <div class="logo">
		      <img src="{% static 'images/logo.png' %}">
		    </div>
		    <input id="menu-toggle" type="checkbox" />
		    <label class='menu-button-container' for="menu-toggle">
		    <div class='menu-button'></div>
		  </label>
		    <ul class="menu">
		      <a class="item" href="/">Domů</a>
		      <a class="item" href="/create">Tvoř</a>
		      <a class="item" href="/login">Účet</a>
		      
		    </ul>
		</section>
		<center>
			<div class="profile-content">
				<h3>User: {{username}}</h3>
				<p>Projects:</p>
				{% for file in projects %}
				    <a href="/create/{{ file.name }}" class="file-card">
				    	<img class="file-image" src="{% static 'images/rpi logo.svg' %}">
				    	<div class="file-text">
					        <strong>{{ file.name }}</strong><br>
					        Description: {{ file.description }}<br>
					        Created at: {{ file.created_at|date:"Y-m-d H:i:s" }}
				    	</div>
				    </a>
				{% endfor %}
				<br>
				<h3>Projects to try: </h3>
				{% for file in predefined %}
				    <a href="/create/{{ file.name }}" class="file-card">
				    	<img class="file-image" src="{% static 'images/rpi logo.svg' %}">
				    	<div class="file-text">
					        <strong>{{ file.name }}</strong><br>
					        Description: {{ file.description }}<br>
				    	</div>
				    </a>
				{% endfor %}
				<br>
				<a class="logout" href="{% url 'logout' %}"><button id="btn" class="button button5">Log out</button></a>
			</div>
		</center>
	</body>
</html>